<section class="projects-style">
    <article class="headline-projects">
        <h2>My Projects</h2>
    </article>
    <div class="spacer"></div>
    <section class="projects-container">
        <article class="projects --first-element">
            <img class="project-image" src="img/Component 1 4.png" alt="Join Kanban Board">
            <article class="project-info-right">
                <article class="top-layout">
                    <div class="project-headline-container">
                        <h3>Join</h3>
                    </div>
                    <div class="project-skills-headline">
                        <h5>Angular | TypeScript | HTML | CSS | Firebase </h5>
                    </div>
                </article>
                <article class="bottom-layout">
                    <h5>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </h5>
                    <div class="project-button-container">
                        <button class="git-hub-button">GitHub</button>
                        <button class="live-test-button">Live Test</button>
                    </div>
                </article>
            </article>
        </article>
        <div class="spacer"></div>
        <article class="projects --second-element">
            <img class="project-image" src="img/Pollo loco.png" alt="Pollo Loco Canvas game">
            <article class="project-info-left">
                <article class="top-layout">
                    <div class="project-headline-container">
                        <h3>Pollo Loco</h3>
                    </div>
                    <div class="project-skills-headline">
                        <h5>Canvas HTML | JavaScript | CSS</h5>
                    </div>
                </article>
                <article class="bottom-layout">
                    <h5>Jump, run and fight against the Crazy Main Chicken and his little Army of Chickens. For every Kill or Hit to the Main Chicken, you will earn Coins where you can buy Salsa Bottles as Ammunition to Use as Weapons.</h5>
                    <div class="project-button-container">
                        <button class="git-hub-button">GitHub</button>
                        <button class="live-test-button">Live Test</button>
                    </div>
                </article>
            </article>
        </article>
        <div class="spacer"></div>
        <article class="projects --third-element">
            <img class="project-image" src="img/Component 1 4.png" alt="Join Kanban Board">
            <article class="project-info-right">
                 <article class="project-info-right">
                <article class="top-layout">
                    <div class="project-headline-container">
                        <h3>Join</h3>
                    </div>
                    <div class="project-skills-headline">
                        <h5>Angular | TypeScript | HTML | CSS | Firebase </h5>
                    </div>
                </article>
                <article class="bottom-layout">
                    <h5>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </h5>
                    <div class="project-button-container">
                        <button class="git-hub-button">GitHub</button>
                        <button class="live-test-button">Live Test</button>
                    </div>
                </article>
            </article>
            </article>
        </article>
    </section>
</section>