.projects-style {
    .headline-projects {
        width: 1439px;
        height: 65px;
        top: 1837px;
        left: 1px;
        padding-right: 541px;
        padding-left: 541px;
        gap: 10px;
    }

    h2 {
        font-weight: 500;
        font-size: 54px;
        font-style: medium;
        line-height: 120%;
        letter-spacing: 0%;
        color: var(--orange-color);
    }
}
