<section class="skills-style">
    <article class="skills-headline">
        <h2>My Skills</h2>
    </article>
    <br>
    <section class="skill-icon-container">
        <div class="skillSet-1">
            <img src="img/Icons Skills.png" alt="Angular Icon">
            <img src="img/Icons Skills (10).png" alt="TypeScript Icon">
            <img src="img/Icons Skills (1).png" alt="Typescript Icon">
            <img src="img/Icons Skills (2).png" alt="HTML5 Icon">
            <img src="img/Icons Skills (3).png" alt="CSS Icon">
            <img src="img/Icons Skills (4).png" alt="Rest API Icon">
        </div>
        <div class="skillSet-2">
            <img src="img/Icons Skills (6).png" alt="Supabase Icon">
            <img src="img/Icons Skills (5).png" alt="GitHub Icon">
            <img src="img/Icons Skills (7).png" alt="Scrumm Icon">
            <img src="img/Icons Skills (8).png" alt="MATERIAL DESIGN Icon">
            <img src="img/Icons Skills (9).png" alt="Challenge Icon">
        </div>
    </section>
</section>
