<header class="header-style">
    <nav class="nav-bar">
        <p>&lt;AK&gt;</p>
        <a class="nav-link" [routerLink]="['/']" fragment="whyMe-component-anchor" (click)="scrollToElement('whyMe-component-anchor', $event)">Why Me?</a>
        <a class="nav-link" [routerLink]="['/']" fragment="skills-component-anchor" (click)="scrollToElement('skills-component-anchor', $event)">Skills</a>
        <a class="nav-link" [routerLink]="['/']" fragment="projects-component-anchor" (click)="scrollToElement('projects-component-anchor', $event)">Projects</a>
        <a class="nav-link" [routerLink]="['/']" fragment="contact-component-anchor" (click)="scrollToElement('contact-component-anchor', $event)">Contact</a>
    </nav>
    <div class="lang-buttons">
        <button class="lang-button" alt="Switch to German"><h6>DE</h6></button>
        |
        <button class="lang-button" alt="Switch to English"><h6>EN</h6></button>
    </div>
</header>