<header class="header-style">
    <nav class="nav-bar">
        <p>&lt; AK &gt;</p>
        <a class="nav-link" href="#">Why Me?</a>
        <a class="nav-link" href="#">Skills</a>
        <a class="nav-link" href="#">Projects</a>
        <a class="nav-link" href="#">Contact</a>
    </nav>
    <div class="lang-buttons">
        <button class="lang-button" alt="Switch to German"><h6>DE</h6></button>
        |
        <button class="lang-button" alt="Switch to English"><h6>EN</h6></button>
    </div>
</header>