<section class="reference-style">
    <h4 class="reference-headline">Need a teamplayer? Here’s what my colleagues say about me</h4>
    <section class="references-container">
        <img class="reference-arrow" src="img/Arrow.png" alt="Arrow">
        <article class="reference">
            <div class="reference-author">
                <h4>Noah Müller</h4>
                <p>Project Sharkie</p>
            </div>
            <p>‘’Marcus had to develop, format and deliver content in collaboration with the team members.He is a reliable and friendly person.’’</p>
        </article>
        <article class="reference">
            <div class="reference-author">
                <h4>Evelyn Marx</h4>
                <p>Project Join</p>
            </div>
            <p>‘’ He is a trustworthy teamplayer and can cope with the stress of deadlines. Structured work and clear code. ‘’</p>
        </article>
        <article class="reference">
            <div class="reference-author">
                <h4>James Rugman</h4>
                <p>Project Pollo Loco</p>
            </div>
            <p>‘’ He is a reliable and friendly person. Work in a structured way and write a clear code. I recommend him as a colleague.’’</p>
        </article>
    </section>
</section>>