<section class="why-me-style">
    <article class="profile-image">
        <img class="why-me-profileImage" src="img/Pic 2.png" alt="why-me Image">
    </article>
    <section class="why-me-text">
        <h2>Why me</h2>
        <p>Write some information about yourself that is IT related. Why are you passionate about coding? Highlight your
            motivation for professional growth and continuous learning. Emphasise your strong problem-solving skills and
            passion for coding.
        </p>
        <section class="icon-container">
            <article class="icon-row first-icon-row">
                <h3>I am</h3>
                <div class="icon">
                    <img src="img/Vector (1).png" alt="icon">
                    <p>located in Hachenburg, Westerwald-Kreis</p>
                </div>
            </article>
            <article class="icon-row second-icon-row">
                <img src="img/Arrow 5.png" alt="Arrow">
                <div class="second-icon">
                    <img src="img/Group 24.png" alt="Bagage">
                    <p>open to <br>relocate</p>
                </div>
            </article>
        </section>
    </section>
</section>