.hero-style {
    position: relative;
    width: 1337px;
    height: 554px;
    margin-top: 2px;
    left: -53px;
    display: flex;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 169px;
    height: 52px;
    left: -50px;
    text-align: center;
    top: 117px;
    padding: 10px;
    transform: rotate(-90deg);
    border: solid 1px var(--mint-color);
    color: var(--orange-color);
    font-size: 18px;
    font-weight: 500;
    font-style: medium;
    line-height: 120%;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;

    &:hover {
        border: solid 1px var(--orange-color);
    }
}

.hero-text {
    color: var(--mint-color);

    h2 {
        font-size: 54px;
        font-weight: 500;
        font-style: medium;
        line-height: 120%;
    }

    p {
        font-size: 82px;
        font-weight: 700;
        font-style: bold;
        line-height: 120%;
    }
}

.arrow-icon {
    position: relative;
    top: 156px;
    left: 647px;
    width: 22px;
    height: 50px;
    transform: rotate(180deg);
    stroke: var(--orange-color);
    transition: transform 0.2s ease-in-out, stroke 0.3s ease;

    &:hover {
        stroke: var(--mint-color);
    }
}

.hero-image {
    width: 539px;
    height: 554px;
    left: 796px;
}
