.contact-style {
    width: 1015px;
    height: 162px;
    top: 3660px;
    left: 132px;

    .contact-headline {
        width: 425.05px;
        height: 72.21px;
        left: -3px;
        display: flex;

        h2 {
            width: 330px;
            height: 60px;
            color: var(--orange-color);
            font-weight: 500;
            font-style: medium;
            font-size: 54px;
            line-height: 120%;
            letter-spacing: 0%;
        }

        img {
            width: 42.75px;
            height: 60.6px;
            top: 18px;
            left: 354px;
            border-width: 3px;
            transform: rotate(deg -78.23);
            object-fit: inherit;
            object-position: center;
        }
    }

    .contact-infos {
        display: flex;
        gap: 32px;

        .contact-text {
            width: 504px;
            height: 73px;
            padding-left: 2px;

            p {
                color: var(--mint-color);
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                line-height: 120%;
                letter-spacing: 0%;
                text-align: justify;
            }
        }

        .contact-datas {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .contact-email {
                width: 412px;
                height: 30px;
                top: 85px;
                left: 555px;
                display: flex;
                gap: 20px;
                cursor: pointer;

                .email-icon {
                    width: 28.4px;
                    height: 30px;
                    background-image: url('../../../../../public/img/icon_email.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                .email-text {
                    width: 366px;
                    height: 27px;
                    top: 3px;
                    left: 46px;
                    color: var(--mint-color);
                    font-weight: 500;
                    font-style: normal;
                    font-size: 20px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    text-decoration: none;
                }

                &:hover {
                    .email-icon {
                        background-image: url('../../../../../public/img/icon_email_green.png');
                    }
                }
            }

            .contact-phone {
                display: flex;
                gap: 20px;
                width: 379px;
                height: 33px;
                top: 129px;
                left: 557px;
                cursor: pointer;

                .phone-icon {
                    width: 26.25px;
                    height: 30.94px;
                    background-image: url('../../../../../public/img/phone_red.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                .phone-text {
                    width: 274px;
                    height: 26px;
                    top: 6px;
                    color: var(--mint-color);
                    font-weight: 500;
                    font-style: medium;
                    font-size: 20px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    text-decoration: none;
                }

                &:hover {
                    .phone-icon {
                        background-image: url('../../../../../public/img/phone_green.png');
                    }
                }
            }
        }
    }

    .contact-arrow-btn {
        width: 22px;
        height: 50px;
        transform: rotate(deg 180);
        background-image: url('../../../../../public/img/Arrow_up_red.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-image: url('../../../../../public/img/Arrow_up_green.png');
            border: solid 1px var(--mint-color);
        }
    }

    .contact-form {
        width: 1184px;
        height: 144px;
        top: 3846px;
        left: 131px;
        display: flex;
        gap: 40px;

        .contact-form-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .contact-form-left-container {
                width: 507px;
                height: 56px;
                border: solid 1.5px rgba(2, 244, 191, 0.6);

                h5 {
                    width: 108.98px;
                    height: 25.45px;
                    margin-top: 15.27px;
                    margin-left: 13.34px;
                    opacity: 0.6;
                    color: var(--mint-color);
                    font-weight: 400;
                    font-style: normal;
                    font-size: 18px;
                    line-height: 140%;
                    letter-spacing: 0%;
                }
            }
        }

        .contact-form-right {
            width: 637px;
            height: 144px;
            border: solid 1.5px rgba(2, 244, 191, 0.6);
            cursor: pointer;

            h5 {
                width: 192.13px;
                height: 25.18px;
                opacity: 0.6;
                color: var(--mint-color);
                margin-top: 11.46px;
                margin-left: 17.74px;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: 0%;
            }
        }

        input,
        textarea {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            outline: none;
            -webkit-appearance: none;
            appearance: none;
            color: var(--mint-color);
            padding: 3px;

            &::placeholder {
                color: var(--mint-color);
                opacity: 0.6;
            }
        }
    }
}

.contact-privacy-police {
    width: 1185px;
    height: 74px;
    top: 4022px;
    left: 130.5px;
    margin-top: 22px;
    display: flex;
    align-items: center;

    .policy-checked-area {
        display: flex;
        width: 978px;
        height: 27px;
        left: -3px;

        .policy-text-frame {
            width: 706px;
            height: 27px;
            display: flex;

            .checkbox-container {
                width: 24px;
                height: 24px;

                input {
                    width: 18px;
                    height: 18px;
                    border: solid 1px var(--orange-color);
                    cursor: pointer;
                    -webkit-appearance: none;
                    appearance: none;
                    place-content: center;
                    transition: all 0.3s ease-in-out;
                    outline: none;
                    display: grid;


                    &:hover {
                        background-color: var(--mint-color);
                    }

                    &::before {
                        transform: scale(0);
                        transition: 120ms transform ease-in-out;
                        font-size: 14px;
                        font-weight: bold;
                        color: var(--orange-color) !important;
                        content: "✓";
                        display: none;
                    }

                    &:checked {
                        background-color: var(--mint-color);


                        &::before {
                            display: block;
                            transform: scale(1);
                        }
                    }
                }
            }

            .checkbox-first-text {
                width: 110px;
                height: 17px;
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                line-height: 120%;
                letter-spacing: 0%;
                color: var(--mint-color);
                text-align: center;
            }

            .privacy-policy-text-web {
                width: 126px;
                height: 27px;

                p {
                    color: #a82516;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    text-decoration: none;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        color: var(--orange-color);
                        text-decoration: underline;
                    }
                }
            }

            .checkbox-second-text {
                width: 429px;
                height: 17px;
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                line-height: 120%;
                letter-spacing: 0%;
                color: var(--mint-color);
                text-align: left;
            }
        }
    }

    .submit-btn {
        width: 104px;
        height: 52px;
        border: solid 1px #827B7B;
        color: #827B7B;
        top: 22px;
        left: 1181px;
        padding: 15px 30px 15px 30px;
        margin-left: 100px;
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
        background-color: rgba(0, 0, 0, 0);
    }
}