<section class="contact-style">
    <section class="contact-headline">
        <h2>Contact me</h2>
        <img src="img/ArrowContact.png" alt="Arrow in the Contact Area">
    </section>
    <section class="contact-infos">
        <article class="contact-text">
            <p>Encourage people to contact you and describe what role you are interested in. Express interest in
                contributing to a new project.</p>
        </article>
        <section class="contact-datas">
            <article class="contact-email">
                <div class="email-icon"></div>
                <a href="mailto:akvis2022@gmail.com" class="email-text">E-mail: akvis2022@gmail.com</a>
            </article>
            <article class="contact-phone">
                <div class="phone-icon"></div>
                <a href="tel:0176123456" class="phone-text">Tel: 0176 123 45 67</a>
            </article>
        </section>
        <div class="contact-arrow-btn"></div>
    </section>
    <section class="contact-form">
        <article class="contact-form-left">
            <div class="contact-form-left-container">

            </div>
            <div class="contact-form-left-container">

            </div>
        </article>
        <article class="contact-form-right">

        </article>
    </section>
    <section class="contact-privacy-police">
        <article class="policy-checked-area">
            <div class="policy-text-frame">
                <label class="checkbox-container">
                    <input type="checkbox">
                </label>
            </div>
        </article>
    </section>
</section>