.contact-style {
    width: 1015px;
    height: 162px;
    top: 3660px;
    left: 132px;
    border: solid 1px red;

    .contact-headline {
        width: 425.05px;
        height: 72.21px;
        left: -3px;
        display: flex;

        h2 {
            width: 330px;
            height: 60px;
            color: var(--orange-color);
            font-weight: 500;
            font-style: medium;
            font-size: 54px;
            line-height: 120%;
            letter-spacing: 0%;
        }

        img {
            width: 42.75px;
            height: 60.6px;
            top: 18px;
            left: 354px;
            border-width: 3px;
            transform: rotate(deg -78.23);
            object-fit: inherit;
            object-position: center;
        }
    }

    .contact-infos {
        display: flex;
        gap: 32px;

        .contact-text {
            width: 504px;
            height: 73px;
            padding-left: 2px;

            p {
                color: var(--mint-color);
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                line-height: 120%;
                letter-spacing: 0%;
                text-align: justify;
            }
        }

        .contact-email {
            width: 412px;
            height: 30px;
            left: 555px;
            border: solid 1px red;
        }
    }
}