.contact-style {
    width: 1015px;
    height: 162px;
    top: 3660px;
    left: 132px;

    .contact-headline {
        width: 425.05px;
        height: 72.21px;
        left: -3px;
        display: flex;

        h2 {
            width: 330px;
            height: 60px;
            color: var(--orange-color);
            font-weight: 500;
            font-style: medium;
            font-size: 54px;
            line-height: 120%;
            letter-spacing: 0%;
        }

        img {
            width: 42.75px;
            height: 60.6px;
            top: 18px;
            left: 354px;
            border-width: 3px;
            transform: rotate(deg -78.23);
            object-fit: inherit;
            object-position: center;
        }
    }

    .contact-infos {
        display: flex;
        gap: 32px;

        .contact-text {
            width: 504px;
            height: 73px;
            padding-left: 2px;

            p {
                color: var(--mint-color);
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                line-height: 120%;
                letter-spacing: 0%;
                text-align: justify;
            }
        }

        .contact-datas {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .contact-email {
                width: 412px;
                height: 30px;
                top: 85px;
                left: 555px;
                display: flex;
                gap: 20px;
                cursor: pointer;

                .email-icon {
                    width: 28.4px;
                    height: 30px;
                    background-image: url('../../../../../public/img/icon_email.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                .email-text {
                    width: 366px;
                    height: 27px;
                    top: 3px;
                    left: 46px;
                    color: var(--mint-color);
                    font-weight: 500;
                    font-style: normal;
                    font-size: 20px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    text-decoration: none;
                }

                &:hover {
                    .email-icon {
                        background-image: url('../../../../../public/img/icon_email_green.png');
                    }
                }
            }

            .contact-phone {
                display: flex;
                gap: 20px;
                width: 379px;
                height: 33px;
                top: 129px;
                left: 557px;
                cursor: pointer;

                .phone-icon {
                    width: 26.25px;
                    height: 30.94px;
                    background-image: url('../../../../../public/img/phone_red.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                .phone-text {
                    width: 274px;
                    height: 26px;
                    top: 6px;
                    color: var(--mint-color);
                    font-weight: 500;
                    font-style: medium;
                    font-size: 20px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    text-decoration: none; 
                }

                &:hover {
                    .phone-icon {
                        background-image: url('../../../../../public/img/phone_green.png');
                    }
                }
            }
        }
    }

    .contact-arrow-btn {
        width: 22px;
        height: 50px;
        transform: rotate(deg 180);
        background-image: url('../../../../../public/img/Arrow_up_red.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-image: url('../../../../../public/img/Arrow_up_green.png');
            border: solid 1px var(--mint-color);
        }
    }

    .contact-form {
        width: 1184px;
        height: 144px;
        top: 3846px;
        left: 131px;
        display: flex;
        gap: 40px;
        border: solid 1px red;
    }
}
