<section class="footer-style">
    <article class="footer-logo-container">
        <div class="footer-logo">
            <p class="logo">&lt;AK&gt;</p>
            <p class="slogan">frontend developer</p>
        </div>
    </article>

    <article class="footer-copyright-container">
        <p>© Asbjörn Kurrek 2026</p>
    </article>

    <article class="footer-socialMedia-container">
        <div class="social-icon-container">
            <a href="https://github.de" alt="Github Link">
                <div class="social-icon github-icon" alt="Github Icon"></div>
            </a>
            <a href="#" alt="Email Link">
                <div class="social-icon email-icon" alt="Email Icon"></div>
            </a>
            <a href="https://linkedin.de" alt="linkedIn Link">
                <div class="social-icon linkedIn-icon" alt="LinkedIn Icon"></div>
            </a>
        </div>
    </article>
</section>
<br>
<section class="footer-links-container">
    <a class="footer-link-1" href="#">Legal notice</a>
    <a class="footer-link-2" href="#">privacy policy</a>
</section>