/* You can add global styles to this file, and also import other style files */
@use './styles/base.scss';

:root {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
    }
}